*{
	padding: 0;
	margin: 0;
}
#search{
	width: 70%;
	height: 40px;
	border: 2px solid black;
	border-radius: 12px;
	margin-top: 10px;
	outline: none;
	margin-right: 20px;

}
#search::-webkit-search-cancel-button{
    position:relative;
    right:20px;  
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius:10px;
    background: #ef5350;
}
#menu{
	height: 30px;
	width: 30px;
	position: fixed;
	top: 10px;
	right: 5px;
}
#container {
  position: relative;
  height: 225px;
  width: 99%;
  margin: 2px auto;
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  vertical-align:middle;
}
#container div {
  display: inline-block;
  width: 100px;
  height: 175px;
  margin: 0.5em;
  padding: 3px;
  white-space: normal;
  text-align: center;
  -webkit-box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.32); 
box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.32);
}
.cat{
	background: white
	height: 200px;
	width: 100%;
}
.cat span{
	background: #66bb6a;
	border-radius: 10px;
	padding: 3px 10px;
}
.choice{
	height: 100px;
}
nav{
	position: fixed;
	top: 0px;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.9);
	display: none;
	color: white;
}
nav #close{
	float: right;
	margin-top: 10px;
	margin-right: 5px;
	height: 30px;
	width: 30px;
}
nav button{
	width: 100%;
	height: 40px;
	background: black;
	color: white;
	border:none;
	text-align: left;
}
nav button:focus{
	background: white;
	color: black;
	outline: none;
}
nav img{
	height: 30px;
	width: 30px;
	float: right;
	margin-top: -5px;
	margin-right: 10px;
}
